aside {
    background-color: var(--gray-600);
    height: 480px;

    padding: 88px 120px 120px 120px;

    h2 {
        text-align: center;

        color: var(--red);
        font-size: var(--subtitle);
        font-family: var(--font-subtitle);
        line-height: var(--lh-title);
        align-items: center;
    }

    span {
        display: flex;
        justify-content: center;

        font-size: var(--title-md);
        font-family: var(--font-title);
        color: var(--gray-100);
        line-height: var(--lh-title);
        font-weight: var(--weight-bold);

        margin-block: 8px 56px;
    }
}

.grid {
    height: 155px;


    display: flex;
    justify-content: center;
    gap: 24px;


    .devOps {
        border-radius: 12px;
        border: solid 1px var(--gray-500);
        padding: 20px;
        width: 280px;

        h3 {
            font-size: var(--title-sm);
            color: var(--gray-100);
            line-height: var(--lh-title);

            font-weight: var(--weight-bold);
            margin-bottom: 8px;
        }

        p {
            color: var(--gray-200);
            font-size: var(--text-sm);
            line-height: var(--lh-text);

            font-family: var(--font-text);
        }

    }
}